<h1> Welcome to Minimal HearthStone! Game Name: <%= @game %></h1>
<script>
  window.gameName = "<%= @game %>";
</script>
<div class="row">
  <div class="col">
    <div id="root">
      <p>React Game Loading...</p>
      <button id="turn"> Turn </button>
      <button id="endturn"> End Turn </button>
      <div id="display"> </div>
    </div>
  </div>
</div>
