/* This file is for your main application css. */
@import "bootstrap";

.board {
	position: absolute;
	left: 50%;
}

.backwards-card {
	background-color: #614e45; /*most of these colors will be replaced w textures*/
	height: 20vh;
	width: 12vh;
	margin: 2vh;
}

.battlefield-opp {
	height: 30vh;
	background-color: #c2b280;	
	margin-top: 3vh;
}

.battlefield-player {
	height: 30vh;
	background-color: #c2b280;	
	margin-bottom: 3vh;
	border-top-style: solid;
	border-width: 3px;
}

.player-avatar {
	height: 18vh;
	width: 12vh;
	border-radius: 50px 50px 0px 0px;
	position: absolute;
  	left: 50%;
}

.player-health {
	position: absolute;
	color: white;
	padding-top: 40%;
}

.jaina {
	background-color: blue;
}

.GARROSH {
	/*GARROSH HELLSCREAM*/
	background-color: red;
}

.deck {
	height: 10vh;
	width: 10vh;
	background-color: #8aacb8;
}

.mana {
	float: right;
}

.mana-crystal-unspent {
	height: 5vh;
	width: 5vh;
	margin: 2vh;
	background-color: blue;
}

.player-hand {
	margin-top: 10vh;
}